.introKaartje{
    width: 60rem;
    height: 40rem;
    background: url("../img/giga_chad.jpg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 3rem;
    box-shadow: inset 0 -0.5rem 1rem 0 rgba(0, 18, 83, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.introKaartje h1{
    color: #eee;
}

.startButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 10rem;
    color: #eee;
    background: #001253;
    border: 0.2rem dashed #001253;
    font-size: 60%;
    text-decoration: none;
    transition: 0.3s all;
}

.startButton:hover{
    background: rgba(238, 238, 238, 0);
    border: 0.2rem dashed #001253;
}