*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 400;
    background: #eee;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}