*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right,#E84545,#53354A);
    min-height: 100vh;
    font-family: sans-serif;
    padding: 20px;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
    flex-wrap: wrap;
}