.section{
    padding-bottom: 4rem;
}

.section__wrapper{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.section__header{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 6rem;
    gap: 2rem;
}

.section__h2{
    font-size: 6rem;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 400;
    
}